.takeQuizContainer {
    min-height: 800px;
    padding-top: 50px;
    background: rgb(0,3,36);
    background: linear-gradient(0deg, rgba(56,31,111,1) 0%, rgba(99,66,171,1) 27%, rgba(135,108,224,1) 61%, rgba(197,185,247,1) 95%, rgba(197,185,247,1) 100%);
}