.createQuizContainer {
    min-height: 800px;
    padding-top: 70px;
    margin-top: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(88,82,170,1) 26%, rgba(162,162,170,1) 61%, rgba(0,212,255,1) 96%, rgba(0,212,255,1) 100%);
}